OpenConstructESP32

# Build outputs
.pio
.vscode
.clang_complete
.clang-format
.gcc-flags.json

# Dependencies
.libdeps

# PlatformIO
.travis.yml
platformio.ini

# Arduino
*.hex
*.elf
*.bin
*.obj
*.o
*.d

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~